#main {
  width: 100%;
  height: 100%;
  fill: white;
}

#content {
  margin: 0 6px 0 6px;
  padding: 12px 0 12px 0;
}

/* .defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.stop-name {
  text-length: 64;
  rows: 2;
  x: 10;
  y: 10;
  width: 100%-20;
  fill: "fb-white";
}

.route-name {
  text-length: 64;
  rows: 2;
  x: 10;
  y: 80;
  width: 100%-20;
  fill: "fb-white";
  font-size: 25;
} */
